#!/bin/sh

OCC="sudo -u {{ nextcloud_http_user }} php {{ nextcloud_symlink }}/occ"

if [ $# -lt 1 ] || [ $# -gt 2 ]; then
  echo usage: $0 short-message [long-message]
  exit 1
fi

users=$($OCC user:list --limit=0 --no-warnings | sed 's/.*- \(.*\):.*/\1/')

for u in $users; do
  if [ $# -eq 2 ]; then
    $OCC notification:generate --long-message "$2" -- $u "$1"
  else
    $OCC notification:generate --  $u "$1" 
  fi
done
